<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Express와 EJS 예시</title>
  </head>
  <body>
    <h1>타입 별 보기</h1>

    <a href="/A?type=a1">A</a>
    <a href="/B">B</a>
  </body>
</html>
